<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climatrak</title>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/static/index_style.css">
</head>
<body>
    <header>
        <img class="logo" src="/static/logo.png">
        <div id="head">
            <div id="climatrakTitle">Climatrak</div>
            <div id="pageTitle">Search</div>
        </div>
        <img class="logo" src="/static/logo.png">
    </header>

    <nav id="navbar">
        <a href="/" class="navbutton">Home</a>
        <a href="/news" class="navbutton">News</a>
        <a href="/resources" class="navbutton">Resources</a>
    </nav>

    <div id="searchContainer">
        <div id="countryName"></div>
        <div id="searchTitle">Enter a Country:</div>

        <form id="searchForm">
            <input type="text" id="searchInput" placeholder="Search..." autocomplete="on">
            <button type="submit">Search</button>
        </form>
    </div>

    <div id="searchResults" style="display:none;"></div>
    
<script src="/static/api.js"></script>
</body>