<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climatrak</title>
    <link rel="icon" href="assets/favicon.png">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div id="head">🌍 Climatrak 🌍</div>
        <div id="pageTitle">Search</div>
    </header>

    <nav id="navbar">
        <a href="index.html" class="navbutton">Home</a>
        <a href="news.html" class="navbutton">News</a>
        <a href="resources.html" class="navbutton">Resources</a>
    </nav>

    <div id="searchContainer">
        <div id="searchTitle">Enter a Country:</div>

        <form id="searchForm">
            <input type="text" id="searchInput" placeholder="Search..." autocomplete="off">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="resultContainer" onclick="redirect(`rochester-hills`)">
        <div class="resultName">
            Rochester Hills, Michigan
        </div>
    </div>
    <div class="resultContainer" onclick="redirect(`auburn-hills`)">
        <div class="resultName">
            Auburn Hills, Michigan
        </div>
    </div>
    <div class="resultContainer" onclick="redirect(`macomb`)">
        <div class="resultName">
            Macomb, Michigan
        </div>
    </div>
    <div class="resultContainer" onclick="redirect(`detroit`)">
        <div class="resultName">
            Detroit, Michigan
        </div>
    </div>
    
<script src="/static/api.js"></script>
</body>
</html>