<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climatrak</title>
    <link rel="icon" href="/static/assets/favicon.png">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div id="head">🌍 Climatrak 🌍</div>
    </header>

    <nav id="navbar">
        <a href="/" class="navbutton">Home</a>
        <a href="/news" class="navbutton">News</a>
        <a href="/resources" class="navbutton">Resources</a>
    </nav>

    <div id="weatherContainer">
        <div id="weatherTitle">Weather in Auburn Hills, Michigan</div>
        <div id="tempText">30°F</div>
        <div id="conditionText">Windy</div>
    </div>

    <button id="wildfireBtn">Check Wildfires</button>
    <div id="wildfireResults"></div>
    
    
<script src="/static/location.js" defer></script>
</body>
</html>