<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climatrak</title>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/static/location_style.css">
</head>
<body>
    <header>
        <img class="logo" src="/static/logo.png">
        <div id="head">
            <div id="climatrakTitle">Climatrak</div>
            <div id="pageTitle">Search</div>
        </div>
        <img class="logo" src="/static/logo.png">
    </header>

    <nav id="navbar">
        <a href="/" class="navbutton">Home</a>
        <a href="/news" class="navbutton">News</a>
        <a href="/resources" class="navbutton">Resources</a>
    </nav>

    <div id="weatherContainer">
        <h id="weatherTitle">No location found.</h>
        <div id="weatherResults"></div>
    </div>

    <button id="wildfireBtn">Check Wildfires</button>
    <div id="warningContainer" style="display: none">
        Warning: by clicking these links you are leaving the Climatrak website.
    </div>
    <div id="wildfireResults" style="display: none"></div>

    <script src="/static/location.js" defer></script>
</body>
</html>