<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climatrak | News</title>
    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div id="head">🌍 Climatrak 🌍</div>
        <div id="pageTitle">News</div>
    </header>

    <nav id="navbar">
        <a href="/" class="navbutton">Home</a>
        <a href="/news" class="navbutton">News</a>
        <a href="/resources" class="navbutton">Resources</a>
    </nav>

    <div id="warningContainer">
        Warning: by clicking these links you are leaving the Climatrak website.
        <div id="newsTitle">Global Warming News:</div>
    </div>

    <div class="newsContainer">
        <div class="newsHeader">European State of the Climate: extreme events in warmest year on record:</div><br>
        <a class="newsLink" href="https://wmo.int/news/media-centre/european-state-of-climate-extreme-events-warmest-year-record" target="_blank">Website Link</a>
    </div>
    <div class="newsContainer">
        <div class="newsHeader">Does climate change cause wildfires?</div><br>
        <a class="newsLink" href="https://www.ifaw.org/journal/climate-change-wildfires" target="_blank">Website Link</a>
    </div>
    <div class="newsContainer">
        <div class="newsHeader">Wildfires are burning through humanity’s carbon budget, study shows</div><br>
        <a class="newsLink" href="https://www.theguardian.com/world/2024/oct/03/wildfires-are-burning-through-humanitys-carbon-budget-study-shows" target="_blank">Website Link</a>
    </div>

</body>
</html>